body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 40%;
}

h4 {
    color: white;
    background-color: #4CAF50;
    margin-bottom: 10px;
    padding: 10px;
    width: 40%; 
    box-sizing: border-box;
    border-radius: 8px;
}

form {
    margin-bottom: 20px;
}


input, button {
    margin-top: 8px;
    padding: 5px;
    
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.error-message {
    color: red;
    font-weight: bold;
}

table {
    border: 1px solid #ddd; /* Ram runt tabellen */
    border-collapse: collapse;
    width: 40%;
}

tr:nth-child(even) td {
    background-color: #f2f2f2; /* Ljusare färg */
}

tr:nth-child(odd) td {
    background-color: #e6e6e6; /* Mörkare färg */
}