/* Vanliga stildefinitioner för alla element */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Stildefinitioner för td-element i tabeller */
td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Stildefinitioner för andra element om det behövs */
h1 {
    color: #0066cc;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

a:hover {
    color: #000; /* Ändra färgen när du hovrar över länken */
}

/* Hover-effekt för th-elementen i tabellen */
td:hover {
    background-color: #29648a; /* Ändra bakgrundsfärgen när du hovrar över th-elementet */
}